:root {
  --margin-S: 5px;
  --margin-M: 12px;
  --margin-L: 40px;
  --padding-L: 10px;

  --gap-S: 20px;

  --border-s: 0.2rem solid var(--color-black);

  --color-black: #191919;
  --color-grey: #EFEFEF;
  --color-white: #F4F4F4;

}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  
  color: var(--color-grey);
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  color: var(--color-grey);
  

} 

p {
  display: flex;
  flex-direction: column;
  color: var(--color-grey);
  font-family: "DM Mono", monospace;
  text-align: center;

}


body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Änderung von repeat auf no-repeat */
  background-attachment: fixed;
  background-color: var(--color-grey);
  /* Farbe, die angezeigt wird, falls das Bild nicht geladen werden kann */
  width: 100%;
  text-align: center;
}




.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}


.logo {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 300px;

  animation-name: moveObject;
  animation-delay: 1500ms;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moveObject {
  0% {
    /* transform: scale(0); */
    width: 100%;
    margin-top: 120px;
    margin-bottom: 300px;

  }

  100% {
    /* transform: scale(0.2); */
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}



/* Stil für das Formular-Container */
.ageChecker {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.eingabefeld {
  justify-content: center;

}


.eingabefeld input[type="text"], .eingabefeld select {
    width: 100%; /* 100% Breite */
    padding: 15px; /* Innenabstand */
    font-size: 16px; /* Schriftgröße */
    border-radius: 30px; /* Abgerundete Ecken */
    border: 1px solid #ccc; /* Rand */
    box-sizing: border-box; /* Box-Modell */
    margin-bottom: 10px; /* Abstand nach unten */
}

.eingabefeld button {
  padding: 10px 20px; /* Innenabstand */
  font-size: 16px; /* Schriftgröße */
  border-radius: 30px; /* Abgerundete Ecken */
  border: none; /* Kein Rand */
  background-color: #FF4343; /* Hintergrundfarbe */
  color: #fff; /* Textfarbe */
  cursor: pointer; /* Zeigercursor */

}

.eingabefeld button:hover {
  background-color: #f54141; /* Hintergrundfarbe */
}


.age {
  font-family: "Fugaz One", sans-serif;
  font-size: 128px;
  /* Neue Schriftgröße für das Alter */
  font-weight: bold;
  /* Optional: Setze die Schrift auf fett */
  color: var(--color-grey);
  /* Optional: Setze die Schriftfarbe auf rot */

}

.resultatFliesstext {
  display: flex;
  flex-direction: column;
  color: var(--color-grey);
  font-family: "DM Mono", monospace;
  text-align: center;

  margin-left: var(--margin-L);
  margin-right: var(--margin-L);
  margin-top: var(--margin-L);
  margin-bottom: var(--margin-L);
  
}

.slidecontainer {
  margin-top: var(--margin-M);
  margin-bottom: 100px;
  width: 80%;

}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 40px;
  /* Specified height */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#myRange {
  background: linear-gradient(to right, #ff0000 40%, #ffbb01 60%, #09ff00 100%);
  /* display: none; */
  border-radius: 20px;
  height: 15px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider:not(.hide-thumb)::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 5px;
  /* Set a specific slider handle width */
  height: 60px;
  /* Slider handle height */
  background: #ffffff;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.show-thumb::-webkit-slider-thumb {
  display: block;
}

.hide-thumb::-webkit-slider-thumb {
  display: none;

}


.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.teamfotoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.bild {
  width: 80%;
  align-self: center;

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.disclaimer {
  align-self: center;
  width: 80%;
}




/* -- YouTube Link Styles --
    
    body.menu-toggled > .meta-link > span {
      color: rgb(30, 30, 30);
    }
    
    #source-link {
      bottom: 60px;
    }
    
    #source-link > i {
      color: rgb(94, 106, 210);
    }
    
    #yt-link > i {
      color: rgb(239, 83, 80);
    }
    
    .meta-link {
      align-items: center;
      backdrop-filter: blur(3px);
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      bottom: 10px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;  
      display: inline-flex;
      gap: 5px;
      left: 10px;
      padding: 10px 20px;
      position: fixed;
      text-decoration: none;
      transition: background-color 400ms, border-color 400ms;
      z-index: 10000;
    }
    
    .meta-link:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    .meta-link > i, .meta-link > span {
      height: 20px;
      line-height: 20px;
    }
    
    .meta-link > span {
      color: white;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
    } */

