
* {
  margin: 0;
  padding: 0;
}


:root {
  --margin-S: 5px;
  --margin-M: 12px;
  --margin-L: 40px;
  --padding-L: 10px;

  --gap-S: 20px;

  --border-s: 0.2rem solid var(--color-black);

  --color-black: #000000;
  --color-grey: #EFEFEF;
  --color-white: #F4F4F4;

}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  text-align: center;
  color: var(--color-grey);
  margin-bottom: 5%;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  color: var(--color-grey);
  text-align: center;
  margin-bottom: 5%;
  
}



p {
  flex-direction: column;
  color: var(--color-grey);
  font-family: "DM Mono", monospace;
  text-align: center;
  font-size: 1rem;
  
}

.logo-animated {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 300px;

  animation-name: moveObject;
  animation-delay: 1500ms;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logo-small{
  width: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
}

@keyframes moveObject {
  0% {
    /* transform: scale(0); */
    width: 100%;
    margin-top: 120px;
    margin-bottom: 300px;

  }

  100% {
    /* transform: scale(0.2); */
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

body  {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--color-grey);
}

.bodyChild {
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  width: 80%;
  text-align: center;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.fliesstext {
  margin-top: 5%;
}



/* Stil für das Formular-Container */
.ageChecker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.eingabefeld {
  justify-content: center;

}


.eingabefeld input[type="text"], .eingabefeld select {
    width: 250px; /* 100% Breite */
    height: 50px; /* Höhe */
    padding: 15px; /* Innenabstand */
    font-size: 16px; /* Schriftgröße */
    border-radius: 30px; /* Abgerundete Ecken */
    border: 1px solid #ccc; /* Rand */
    box-sizing: border-box; /* Box-Modell */
    margin-bottom: 10px; /* Abstand nach unten */
}

.eingabefeld button {
  width: 140px;
  padding: 10px 20px; Innenabstand
  font-size: 16px; 
  border-radius: 30px; 
  border: none; 
  background-color: #FF4343; 
  color: #fff; 
  cursor: pointer; 

}

.eingabefeld button:hover {
  background-color: #f54141; /* Hintergrundfarbe */
}


.age {
  font-family: "Fugaz One", sans-serif;
  font-size: 128px;
  font-weight: bold;
  color: var(--color-grey);
  margin-top: -5%;
  margin-bottom: -5%;
  

}

.resultatFliesstext {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  color: var(--color-grey);
  font-family: "DM Mono", monospace;
  text-align: center;
  
}

.slidecontainer {
  margin-top: 20%;
  margin-bottom: 20%;
  width: 80%;

}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 40px;
  /* Specified height */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#myRange {
  background: linear-gradient(to right, #ff0000 20%, #ffbb01 60%, #09ff00 100%);
  /* display: none; */
  border-radius: 20px;
  height: 15px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider:not(.hide-thumb)::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 5px;
  /* Set a specific slider handle width */
  height: 60px;
  /* Slider handle height */
  background: #ffffff;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.show-thumb::-webkit-slider-thumb {
  display: block;
}

.hide-thumb::-webkit-slider-thumb {
  display: none;

}


.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}


.bild {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

}



.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}

.team {
  display: flex;
  width: 80%;
  align-self: center;
  flex-direction: column;
}

.footerText {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
 
}

.disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: end;
  margin-bottom: 0px;
  min-height: 300px;
  background: linear-gradient(to top, black 66%, transparent 100%);
}

.autorIn {
  margin-top: 5%;
  margin-bottom: 5%;
}
