@media only screen and (min-width: 600px) {

 /*Anpassung der Animation auf Tablet grösse*/   
.logo-animated {
        width: 70%;
        margin-top: 100px;
        margin-bottom: 300px;

    }

    @keyframes moveObject {
        0% {
            width: 70%;
            margin-top: 100px;
            margin-bottom: 300px;

        }

        100% {
            width: 25%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    h1 {
       
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.2rem;
    }

    .fliesstextZusatz {
        margin-top: 4%;
      }
      

    .slidecontainer {
        margin-top: 7%;
        margin-bottom: 20%;
        width: 80%;
      
      }

      .bild {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
      
      }

      .footerText {
        margin-top: 2%;
      }


    
      
}