body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Änderung von repeat auf no-repeat */
  background-attachment: fixed;
  background-color: #000; /* Farbe, die angezeigt wird, falls das Bild nicht geladen werden kann */
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 500px;
}

.logo {
  max-height: 100%; 
  margin-top: 20px; /* Fügt oben einen Abstand von 20px hinzu */

}


  
  h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h1:hover {
    background-color: white;
    color: black;
  }
  

/* Stil für Texteingabefelder und Dropdown-Menüs im Formular */
.form-container input[type="text"],
.form-container select {
    display: block;
    margin: 10px auto;
    width: 20px;
}

/* Stil für Schaltflächen im Formular */
.form-container button {
    margin: 10px auto;
    padding: 10px 20px;
    cursor: pointer;
    flex-direction: column;
}

/* Stil für das Ergebnisfeld */
#result {
    margin-top: 20px;
}


.einleitung {
    color: #fefefe;
    font-family: "DM Mono", monospace;
    text-align: center;
    margin-bottom: 20px; 

    margin-left: 20px;
    margin-right: 20px;
}

/* Stil für das Formular-Container */
.ageChecker {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  width: 30%;  /* Einstellung auf 30% der Seitenbreite */
  margin: 0 auto; /* Zentriert den Container horizontal */
}

.eingabefeld {
  margin-bottom: 10px;
}


.age {
    font-family: "Fugaz One", sans-serif;
    font-size: 128px; /* Neue Schriftgröße für das Alter */
    font-weight: bold; /* Optional: Setze die Schrift auf fett */
    color: #efefef; /* Optional: Setze die Schriftfarbe auf rot */  
    
}

.teamfoto {
  width: 200px;
}



  /* -- YouTube Link Styles --
  
  body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  } */


