/* styles.css */

/* Das CSS für den Hintergrund der gesamten Website */
body {
     /* Pfad zum Hintergrundbild anpassen */
     background-image: url('IM2-Lunicy/images/background.jpg'); 
    
    /* Stelle sicher, dass das Bild den gesamten Bildschirm bedeckt */
    background-size: cover;
    
    /* Zentriere das Bild */
    background-position: center;
    
    /* Das Bild soll nicht wiederholt werden */
    background-repeat: no-repeat;
    
    /* Optional: Stelle sicher, dass das Bild auch bei Scrollen an der Stelle bleibt */
    background-attachment: fixed;
    
    /* Farbe, die angezeigt wird, falls das Bild nicht geladen werden kann */
    background-color: #000; /* Schwarz oder jede andere Farbe */

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    text-align: center;
}

input[type="text"] {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
